In [1]:
a=[1,2,3,4] #homogeneous

In [2]:
b=[1,2,'a',3+4j,"   ", [1,2,5]] #heteroogeneous

this is a markdown

In [5]:
a.append('7')

In [6]:
a

[1, 2, 3, 4, 1, '7']

In [7]:
a.append(7)

In [8]:
a

[1, 2, 3, 4, 1, '7', 7]

In [9]:
a.extend([8,9,10]) #bracket represents list
a

[1, 2, 3, 4, 1, '7', 7, 8, 9, 10]

In [10]:
a.count(1)

2

In [11]:
a.count('a')

0

In [12]:
a.index(10)

9

In [13]:
a.insert(1,'good')

In [14]:
a

[1, 'good', 2, 3, 4, 1, '7', 7, 8, 9, 10]

In [15]:
a.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [16]:
a.append('good')

In [17]:
a

[1, 'good', 2, 3, 4, 1, '7', 7, 8, 9, 10, 'good']

In [18]:
c=[1,45,6]
c.sort()
c

[1, 6, 45]

In [20]:
c.sort(reverse=True)

In [21]:
c

[45, 6, 1]

In [22]:
c.pop(1)

6

In [23]:
c

[45, 1]

In [24]:
c.remove(1)

In [25]:
c

[45]

In [26]:
c.clear()

In [27]:
c

[]

In [28]:
c=[1,2,[23,45]]
c.remove([23,45])
c

[1, 2]

In [30]:
#tuples
rst=(1,2,3)
rst.count(1)

1

In [31]:
rst.index(2)

1

In [32]:
rs=(1,2+3j,"python",'yo',1)
rs.index(1)

0

In [33]:
ab={'A':'Apple','Citizen':'UID'}

In [34]:
ab['A']

'Apple'

In [35]:
ab['Apple']

KeyError: 'Apple'

In [36]:
abc={'A':[1,2,3]}
abc['A']

[1, 2, 3]

In [38]:
abc['A'][2] #MULTIPLE INDEXING

3

In [39]:
abc.keys()

dict_keys(['A'])

In [40]:
abc.values()

dict_values([[1, 2, 3]])

In [41]:
abc.items()

dict_items([('A', [1, 2, 3])])

In [42]:
#above methods are read only modes

In [43]:
abc=[(1,2,3),4+8j,'python']
abc.reverse()

In [44]:
abc

['python', (4+8j), (1, 2, 3)]

In [45]:
abc.sort()

TypeError: '<' not supported between instances of 'complex' and 'str'

In [46]:
abc.extend(219832198)

TypeError: 'int' object is not iterable

In [47]:
abc.extend(1)

TypeError: 'int' object is not iterable

In [48]:
abc.extend('1')

In [49]:
abc

['python', (4+8j), (1, 2, 3), '1']

In [51]:
qwe={'Asia':{'India':{'Bengaluru':'hsr'}}}
qwe['Asia']

{'India': {'Bengaluru': 'hsr'}}

In [52]:
qwe['Asia']['India']

{'Bengaluru': 'hsr'}

In [53]:
qwe['Asia']['India']['Bengaluru']

'hsr'

In [54]:
qwe['Asia']['India']['Bengaluru'][0]

'h'

In [55]:
#interview QUES

In [99]:
qwe={'Asia':{'India':{'Karnataka':{'Asia':'hsr'}}}}
qwe['Asia']

{'India': {'Karnataka': {'Asia': 'hsr'}}}

qwe={'Asia':{'India':{'Karnataka':{'Asia':'hsr'}}}}
qwe['Asia] should give {'India':{'Karnataka':{'Asia':'hsr'}}}

##Picks key from the last instance and the outer-most instance

In [61]:
d={'asia':'a','asia':'b'}
d['asia']

'b'

In [62]:
#above is interview ques. python remembers last value, but see above example also

In [63]:
a=123
type(a)

int

In [64]:
a=[1,2]
type(a)

list

In [65]:
b=(1)
type(b)

int

In [66]:
#ABOVE IS AN INT, AND NOT A TUPLE BECAUSE THERE IS NO COMMA IN THE TUPLE. PUT A COMMA AND THEN IT IS A TUPLE

In [67]:
B=(3,)
type(B)

tuple

In [68]:
#unoredered dictionaries used above (does not care about order of lists and values)

In [69]:
#ordered dict cares

BOOLEAN:
true false none
1<2 true
2>10 false
3==3 true
3<=4 true

In [70]:
2>10

False

In [71]:
#BOOLEAN "NONE" type : defines uncertainity in the process (start and end uncertain)

In [72]:
#True, False and None starts with one capital letter. REST EVERYTHING in python starts in lower case

In [73]:
True+False

1

In [74]:
#Because python has integer values for True and False

In [75]:
#None does not have a value: None Type

In [76]:
True**False*True**False

1

In [77]:
#Left to right order because that's how machines behave (special case as order ot precedence is same on both sides)

In [78]:
#SET

In [79]:
abc={'inr','usd','eur'} #set of currencies

In [80]:
#A set is a collection of python objects which as ordered, sorted and unique.

In [84]:
qaz={23,34,56,67,0.99,0.633,34,23}
qaz #set will sort on its own, and repition not allowed (will keep only unique data, no repition)
abc={23,34}
abc.issubset(qaz)

True

In [87]:
abc.isdisjoint(qaz) #disjoint means nothing common in both sets

False

In [88]:
#maxima and minima for only homogeneous list/tuple

In [89]:
s='python' #partially packed data
len(s)

6

In [90]:
s=['python'] #fully packed data
len(s)

1

In [91]:
012

SyntaxError: invalid token (<ipython-input-91-95f378563ada>, line 1)

In [92]:
#prefix 0 not allowed in PEP8 style of coding

In [109]:
fruits=["o","a","c","a","g"]
fruits[:-1][::-1]

['a', 'c', 'a', 'o']

In [111]:
#mode control flow

In [112]:
# if, elif and else statements
# for loops
# whole loops
# inbuilt

In [115]:
abc=int(input())
if abc==123:
    print("valid")
else:
    print('invalid')

123
valid

In [116]:
location=input("what's your location?")
if location=='bangalore':
    print("welcome to karnataka")
elif location=='delhi':
    print("capital")
else:
    print("other")

what's your location?bengaluru
other

In [121]:
age=int(input("get age"))
if age>=18:
    print("can vote")
else:
    print("cannot vote")

get age17
cannot vote

In [122]:
#indentation is very important for loops

In [129]:
age=int(input("get age"))
if age>=18:
    print("can vote")
elif 0<age<18:
    print("cannot vote")
else:
    print("age cannot be negative or zero")

get age0
age cannot be negative or zero

In [130]:
#python inbuilt function range

In [131]:
range(0,20)

range(0, 20)

In [132]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [133]:
list(range(0,20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [134]:
tuple(range(0,20))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [135]:
dict(range(0,20))

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [136]:
#this happened because dict has key and value

In [137]:
#for loop

In [1]:
#for near the margin
for letter in 'hello':
    print(letter)

h
e
l
l
o

In [139]:
#for interator in interable
#tab space BODY
#for loops are called as fast interators (IMPOTRTANT)
#generators are Slow iterators
#iterable means packed data: list, tuple, set, dict, string
#non iterable:number and boolean
#fully packed data is "SEQUENCE"
#number and boolean is non-sequence (unpacked)
for numbers in 1234:
    print(numbers)

TypeError: 'int' object is not iterable

In [140]:
for numbers in '1234':
    print(numbers)

1
2
3
4

In [141]:
for numbers in ['1234']:
    print(numbers)

1234

In [2]:
for letters in 'hello':
    print(letters,end=" ")

h e l l o

In [143]:
#for loop converts packed data into unpacked data, in python

In [146]:
for numbers in range(0,50):
    if numbers%2!=0:
        print(numbers)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [148]:
for numbers in range(-1,50):
    if numbers%2!=0:
        print(numbers)

-1
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [178]:
n=int(input("get number"))
for numbers in range(0,100):
    print(numbers, n, numbers*n)

get number1
0 1 0
1 1 1
2 1 2
3 1 3
4 1 4
5 1 5
6 1 6
7 1 7
8 1 8
9 1 9
10 1 10
11 1 11
12 1 12
13 1 13
14 1 14
15 1 15
16 1 16
17 1 17
18 1 18
19 1 19
20 1 20
21 1 21
22 1 22
23 1 23
24 1 24
25 1 25
26 1 26
27 1 27
28 1 28
29 1 29
30 1 30
31 1 31
32 1 32
33 1 33
34 1 34
35 1 35
36 1 36
37 1 37
38 1 38
39 1 39
40 1 40
41 1 41
42 1 42
43 1 43
44 1 44
45 1 45
46 1 46
47 1 47
48 1 48
49 1 49
50 1 50
51 1 51
52 1 52
53 1 53
54 1 54
55 1 55
56 1 56
57 1 57
58 1 58
59 1 59
60 1 60
61 1 61
62 1 62
63 1 63
64 1 64
65 1 65
66 1 66
67 1 67
68 1 68
69 1 69
70 1 70
71 1 71
72 1 72
73 1 73
74 1 74
75 1 75
76 1 76
77 1 77
78 1 78
79 1 79
80 1 80
81 1 81
82 1 82
83 1 83
84 1 84
85 1 85
86 1 86
87 1 87
88 1 88
89 1 89
90 1 90
91 1 91
92 1 92
93 1 93
94 1 94
95 1 95
96 1 96
97 1 97
98 1 98
99 1 99

In [179]:
#list comprehensions
#abc=[result expression|for loops|if conditions]
#python stores only one space for result expression (interview ques): Why so less memory for the same?

In [184]:
abc=[  numbers  for numbers in range(0,10) if numbers%2==0]

In [185]:
abc

[0, 2, 4, 6, 8]

In [186]:
abc=[  print(numbers)  for numbers in range(0,10) if numbers%2==0]

0
2
4
6
8

In [187]:
#print behavior states that it prints everything in a new line: interview ques

In [189]:
abc=[  (numbers,numbers**2)  for numbers in range(0,10) if numbers%2==0]

In [190]:
abc

[(0, 0), (2, 4), (4, 16), (6, 36), (8, 64)]

In [191]:
abc=[  print(numbers)  for numbers in range(0,10) if numbers%2==0]

0
2
4
6
8

In [192]:
abc

[None, None, None, None, None]

In [193]:
#hence don't write print there due to print's behavior (list comprehension takes 0.79 microseconds to execute)

In [194]:
#write like this:
abc=[  (numbers)  for numbers in range(0,10) if numbers%2==0]

In [195]:
abc

[0, 2, 4, 6, 8]

In [13]:
List = [113, 343, 1, 220, 1, 526, 2567, 199, 397, 1]
print(List[4::][::-1])
print(List[-4::][::-1])

[1, 397, 199, 2567, 526, 1]
[1, 397, 199, 2567]

In [20]:
s = {'samsung', 'oneplus','samsung' ,'honor','nokia','nokia', 'vivo', 'apple'}
print(s)

{'samsung', 'oneplus', 'apple', 'honor', 'nokia', 'vivo'}

In [12]:
s

{'apple', 'honor', 'nokia', 'oneplus', 'samsung', 'vivo'}

In [15]:
std = {"joe":26,"eve":23,"james":28, "adam" : 26}
std["joe"]=5
print(std)

{'joe': 5, 'eve': 23, 'james': 28, 'adam': 26}

In [18]:
Num = (56,7,8,9,34,56,78,89)
print(sorted(Num,reverse=False))

[7, 8, 9, 34, 56, 56, 78, 89]